@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('/fonts/ArchitectsDaughter-webfont.eot');
    src: url('/fonts/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ArchitectsDaughter-webfont.woff') format('woff'),
         url('/fonts/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('/fonts/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DigitaldreamFatNarrowRegular';
    src: url('/fonts/DIGITALDREAMFATNARROW-webfont.eot');
    src: url('/fonts/DIGITALDREAMFATNARROW-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DIGITALDREAMFATNARROW-webfont.woff') format('woff'),
         url('/fonts/DIGITALDREAMFATNARROW-webfont.ttf') format('truetype'),
         url('/fonts/DIGITALDREAMFATNARROW-webfont.svg#DigitaldreamFatNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ADELE';
    src: url('/fonts/adele-light-webfont.eot');
    src: url('/fonts/adele-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/adele-light-webfont.woff') format('woff'),
         url('/fonts/adele-light-webfont.ttf') format('truetype'),
         url('/fonts/adele-light-webfont.svg#ADELEADELE') format('svg');
    font-weight: normal;
    font-style: normal;
}

	body { 
		margin: 0px; min-width: 900px; 
		background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#222));
		background: -moz-linear-gradient(top,  #111,  #222);
//		background-image: url('/images/slt-200x150.jpg');
		background-image: url('/images/orionnebula2560.jpg');
		background-attachment:fixed;
	}
	
	ul { -webkit-margin-before:0px; }
	a { text-decoration: none; }
	a.aUses { color: white; font-weight: 900; }
	usesNumber { float:left; color: white; font-weight: 900; }
	select, input {  
	    padding: 2px;  
	    font-size: 15px;  
	    text-shadow: 0px 1px 0px #555;
	    color: #eee; 
	    outline: none;  
	    background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#1a1a1a));  
	    background: -moz-linear-gradient(top,  #111,  #1a1a1a);  
	    -webkit-border-radius: 3px;  
	    -moz-border-radius: 3px;  
	    border-radius: 3px;  
	    border: 1px solid #717171;  
	    -webkit-box-shadow: 1px 1px 0px #1b1b1b;  
	    -moz-box-shadow: 1px 1px 0px #1b1b1b;  
	    box-shadow:  1px 1px 0px #1b1b1b;  
	}  
	select:focus, input:focus {  
	    -webkit-box-shadow: 0px 0px 5px #007eff;  
	    -moz-box-shadow: 0px 0px 5px #007eff;  
	    box-shadow: 0px 0px 5px #007eff;  
	}  
	.header { 
		background-image: linear-gradient(bottom, rgb(63,63,63) 0%, rgb(31,31,31) 22%, rgb(17,17,17) 88%);
		background-image: -o-linear-gradient(bottom, rgb(63,63,63) 0%, rgb(31,31,31) 22%, rgb(17,17,17) 88%);
		background-image: -moz-linear-gradient(bottom, rgb(63,63,63) 0%, rgb(31,31,31) 22%, rgb(17,17,17) 88%);
		background-image: -webkit-linear-gradient(bottom, rgb(63,63,63) 0%, rgb(31,31,31) 22%, rgb(17,17,17) 88%);
		background-image: -ms-linear-gradient(bottom, rgb(63,63,63) 0%, rgb(31,31,31) 22%, rgb(17,17,17) 88%);
	
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(63,63,63)), color-stop(0.22, rgb(31,31,31)), color-stop(0.88, rgb(17,17,17)) );
		height: 64px; 
	//	position: fixed; 
		top: 0px; 
		padding: 5px; 
		z-index: 64; 
	}
	.headerIconGroup { float: right; height: 64px; width:320px; margin-right:16px; }
	.resultPane { position: relative; top: 0px; margin-left: 2%; margin-right:2%; margin-top:10px; width: 96%; }
	.dropDown {
		left 		: 0px;
		z-index		: 50;
		top		: 72px;
	//	position	: fixed;
		width		: 100%;
		display		: none; 
		background	: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), to(#222));
		background	: -moz-linear-gradient(top,  #0a0a0a,  #222);
	}
	.newButton:Hover {
		border		: 1px solid white;
		cursor		: pointer;
	}
	.newButton {
		cursor		: pointer;
		background	: #3d80eE;
		background	: -webkit-linear-gradient(top,#3d80ee,#3777dd);
		background	: -moz-linear-gradient(top,#3d80ee,#3777dd);
		background	: -ms-linear-gradient(top,#3d80ee,#3777dd);
		border		: 1px solid #2069dD;
		color		: white;
		padding-left	: 15px;
		padding-right	: 15px;
		height		: 21px;
		vertical-align	: bottom;
		border-radius	: 4px;
		font-size	: 13px;
	}

	.storyHeading,.listHeading { float: left; 
			font: 26px ADELE; 
			position: relative;
			top: 4px; 
			padding-left: 5px;
			width: 85%;
			height: 38px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			z-index:5; 
			text-decoration: none;
			color: inherit;
			text-shadow: 1px 1px 0 #111; 
	}
	.feedListHeading { 
		float			: left; 
		font			: 26px ADELE; 
		position		: relative;
		top			: 4px; 
		padding-left		: 5px;
		height			: 38px;
		overflow		: hidden;
		white-space		: nowrap;
		text-overflow		: ellipsis;
		z-index			: 5; 
		text-decoration		: none;
		color			: inherit;
		text-shadow		: 1px 1px 0 #111; 
	}

	.listHeading:hover { color: #f0f0f0; font-weight:900; }
	.label { font: 16px ArchitectsDaughterRegular; padding-left: 5px; padding-right: 5px; }
	.storyDetail { font: 22px ColaborateLightRegular; position: relative; padding-left: 5px; width: 97%; z-index: 2; color: #ddd; display:none; overflow:none; height: 96px;}
	.storyHeadingSpace { width: 100%; height:38px; z-index: 3;}
	.timestamp { float:right; width: 14%; text-align: right; color: #ddd; height:14px; font: 12px DigitaldreamFatNarrowRegular; }
	.shareDiv { float:right; width: 128px; text-align: right; color: #ddd; height:32px; font: 16px DigitaldreamFatNarrowRegular; }
	.timestampAlt { float:right; width: 14%; text-align: right; color #ddd; height: 14px; font: 12px DigitaldreamFatNarrowRegular; display: none; }
	.storylist {
		margin-top: 0px; 
//		background: #222;
//background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0.00, rgba(255, 255, 255, 0.17)), color-stop(0.25, rgba(255, 255, 255, 0.17)), color-stop(0.26, rgba(255, 255, 255, 0)), color-stop(0.50, rgba(255, 255, 255, 0)), color-stop(0.51, rgba(255, 255, 255, 0.17)), color-stop(0.75, rgba(255, 255, 255, 0.17)), color-stop(0.76, rgba(255, 255, 255, 0)), color-stop(1.00, rgba(255, 255, 255, 0)) ), -webkit-gradient(linear, left, right , color-stop(0, #333), color-stop(1, #111)); 
//		padding: 5px; 
//		margin: 5px;
		border: 3px solid #1d1d1d;
	}
	.listingDiv { 	
		height	: 32px; 
		padding	: 0px 15px 0px 40px; 
		background-image	: url("/images/feedsImages/Sprites-32.png");
		background-repeat	: no-repeat;
		overflow: hidden;
	}
	.blankListingDiv { 	
		height	: 32px; 
		padding	: 0px 15px 0px 40px; 
		height	: 32px;
	}
	li,li.nLI {
		background-image	: url("/images/30pd.png");
		color			: #DDD;
		overflow-y		: hidden;
//		background		: #222;
		margin-left             : -38px;
		padding			: 3px;
		height                  : 32px;
		list-style              : none;
		margin-right		: 1px;
	}
	li.fLI {
		background-image	: url("/images/30pd.png");
		color			: #DDD;
		overflow-y		: hidden;
		margin-left             : 10px;
		margin-right		: 5px;
		padding			: 3px;
		height                  : 32px;
		width			: 30%;
		float			: left;
		list-style              : none;
		margin-right		: 1px;
	}
	.shadow {
		-moz-box-shadow: 4px 4px 5px #000;
		-webkit-box-shadow: 4px 4px 5px #000;
		box-shadow: 4px 4px 5px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#000000');
	}
	ul.mainListing { background-color: none; } 
	li:nth-child(odd),li.nLI:nth-child(odd) {
		color			: #CCC;
		overflow-y		: hidden;
//		background		: #2a2a2a;
		background-image	: url('/images/50pd.png');
		padding			: 3px;
		height			: 32px;
		list-style              : none;
	}
	li:hover,li:nth-child(odd):hover {
		color			: #FFF;
//		background		: #333;
		padding			: 3px;
		height			: 32px;
		list-style		: none;
	}
	li.red { 
		color			: #DDD;
		background		: #400C0C;
	}
	li.red:nth-child(odd) { 
		color			: #DDD;
		background		: #4A1010;
	}
	li.green { 
		color			: #DDD;
		background-image	: url('/images/shades/g50pd.png');
//		background		: #0C400C;
	}
	li.green:hover { color: white; }
	li.green:nth-child(odd) {
		color			: #DDD;
		background-image	: url('/images/shades/g70pd.png');
//		background		: #0C4A0C;
	}
	li.green:nth-child(odd):hover { color: white; }
	li.blue { 
		color			: #DDD;
		background		: #0C0C40;
	}
	li.blue:nth-child(odd) {
		color			: #DDD;
		background		: #0C0C4A;
	}
	li.black {
		color			: #808080; 
		background		: #000000;
	}
	li.black:nth-child(odd) { 
		color			: #808080; 
		background		: #090909;
	}
	li.silver { 
		color			: #DDD;
		background		: #808080;
		background	: -webkit-linear-gradient(top,#353535,#797979,#353535);
		background	: -moz-linear-gradient(top,#353535,#797979);
		background	: -ms-linear-gradient(top,#353535,#797979);
	}
	li.silver:nth-child(odd) {
		color			: #DDD;
		background		: #808080;
		background	: -webkit-linear-gradient(top,#353535,#797979,#353535);
		background	: -moz-linear-gradient(top,#353535,#797979);
		background	: -ms-linear-gradient(top,#353535,#797979);
	}
	li.heading {
		color		: #DDD;
		background	: #3d80eE;
		background	: -webkit-linear-gradient(top,#3d80ee,#1750b8);
		background	: -moz-linear-gradient(top,#3d80ee,#1750b8);
		background	: -ms-linear-gradient(top,#3d80ee,#1750b8);
		-webkit-box-shadow: inset 0px 2px 0px 0px #131313, inset 0px -3px 3px #131313;
		border-radius	: 6px; 
		text-weight	: 800;
		margin-top	: 5px;
		margin-bottom	: 2px;
	}

	li.forecastLI {
		color			: #DDD;
		background		: #222;
		margin-left             : -32px;
		padding			: 3px;
		height                  : 64px;
		list-style              : none;
	}
	li.forecastLI:nth-child(odd) {
		color			: #DDD;
		background		: #2a2a2a;
		background-repeat       : no-repeat;
		padding			: 3px;
		height			: 64px;
		list-style              : none;
	}
	li.photoLI, li.photoLI:hover, li.photoLI:nth-child(odd) {
		color			: #DDD;
		background		: #222;
		margin-left		: 0px;
		width			: 280px;
		height			: 280px;
		float			: left;
		list-style              : none;
	}
	li.photoLIExtended, li.photoLIExtended:hover, li.photoLIExtended:nth-child(odd) {
		color			: #DDD;
		background		: #222;
		margin-left		: 0px;
		width			: 440px;
		height			: 280px;
		float			: left;
		list-style              : none;
	}
	li.leftUL {
		color			: #DDD;
		background		: none;
		margin-left             : -32px;
		padding			: 3px;
		height                  : 32px;
		list-style              : none;
	}
	li.leftUL:nth-child(odd) {
		color			: #DDD;
		background		: none;
		padding			: 3px;
		height			: 32px;
		list-style              : none;
	}
	.leftUL:hover {
		font-weight		: 900;
		text-color		: white;
		background		: none;
		padding			: 3px;
		height			: 32px;
		list-style		: none;
	}
	img.photoView { 
		margin			: 0px;
		border			: 10px solid #111;
		border-radius		: 10px;
		width			: auto;
		height			: auto;
	}
	img.photoView:hover {
	    -webkit-box-shadow: 0px 0px 5px #007eff;  
	    -moz-box-shadow: 0px 0px 5px #007eff;  
	}
	img.selectedImage { 
		margin			: 0px;
		border			: 10px solid #E11;
		border-radius		: 10px;
		width			: auto;
		height			: auto;
	}
	div.navBar { 
		top		: 102px;
		position	: relative;
		width		: 100%;
	}
	h3.navBar {
		margin		: 5px;
		padding-top	: 10px;
		font		: 32px ArchitectsDaughterRegular;
		margin-left	: 200px;
	}
	img.navBar { 
		vertical-align: top;
	}

	.leftULClass {
		margin-top	: 16px;
		padding-left	: 32px;
		margin-left	: 0px;
	}
	
	.forecastList { width : 420px; }
	.profileList { 
		width : 192px; 
	}
	.taskListingDiv { 
		float			: left;	
		height			: 32px; 
//		padding			: 0px 15px 0px 40px; 
		background-image	: url("/images/feedsImages/flags-32x32.png");
		background-repeat	: no-repeat;
		font			: 26px ADELE;
		width			: 100%; 
		position		: relative; 
		overflow: hidden; white-space: nowrap; text-overflow: ellipsis; z-index:5; text-decoration: none; color: #ddd; text-shadow: 1px 1px 0 #111; }
	li.taskHeadingClass {
		top		: 4px;
		padding-top	: 8px;
		padding-left	: 15px;
		font		: 26px ADELE; 
		background	: #3d80eE;
		background	: -webkit-linear-gradient(top,#3d80ee,#1750b8);
		background	: -moz-linear-gradient(top,#3d80ee,#1750b8);
		background	: -ms-linear-gradient(top,#3d80ee,#1750b8);
		-webkit-box-shadow: inset 0px 2px 0px 0px #131313, inset 0px -3px 3px #131313;
		border-radius	: 6px; 
		text-weight	: 800;
		margin-top	: 5px;
		margin-bottom	: 2px;
	}
	.taskDetail { 
		float: left; 
		font: 26px ADELE; 
		position: relative; 
		top: 4px; 
		padding-left: 5px; 
		z-index:5; 
		text-decoration: none; 
		color: #ddd; 
		text-shadow: 1px 1px 0 #111; 
	}
	.taskTitle { 
		float: left; 
		font: 26px ADELE; 
		position: relative; 
		top: 4px; 
		padding-left: 5px; 
		height: 38px; 
		overflow: hidden; 
		white-space: nowrap; 
		text-overflow: ellipsis; 
		z-index:5; 
		text-decoration: none; 
		color: #ddd; 
		text-shadow: 1px 1px 0 #111; 
	}
	.label { font: 16px ArchitectsDaughterRegular; padding-left: 5px; padding-right: 5px; }
	.settingsPage { 
		width			: 98%;
		height			: 350px;
	}
	.weatherHeading { float: left; 
			font: 24px ADELE; 
			position: relative; padding-left: 5px; width: 99%; height: 64px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; z-index:5; text-decoration: none; color: #ddd; text-shadow: 1px 1px 0 #111; }
	img.forecast	{ vertical-align: middle; float: left; }
 	.weatherDate { font: 24px ADELE; float:left; width: 100px; font-weight:900; margin-top: 4px; margin-bottom: 5px; } 
	.weatherDesc { float: left; width: 285px; }
	.weatherTemps { float: right; width: 175px; }	
	.planetHeading { float: left; 
			font: 24px ADELE; 
			position: relative; padding-left: 5px; width: 100%; height: 32px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; z-index:5; text-decoration: none; color: #ddd; text-shadow: 1px 1px 0 #111; }
	/* These are for icon's with numbers on them... */
	.imgA1 { position:absolute; top: 0px; left: 0px; z-index: 1; width: 64px; float:right;}
	.imgB1 { position:absolute; top: 0px; left: 3px; z-index: 3; width: 64px; float:right;} 
	.imgC0 { position:absolute; top: 4px; z-index: 5; color: white; font-family: 'AurulentSansMonoRegular'; font-size: 14px; font-weight: bold; width: 55px; text-align: right; } 
	.imgC1 { position:absolute; top: 4px; z-index: 0; color: white; font-family: 'AurulentSansMonoRegular'; font-size: 14px; font-weight: bold; width: 55px; text-align: right; } 
	.imgC2 { position:absolute; top: 4px; z-index: 0; color: white; font-family: 'AurulentSansMonoRegular'; font-size: 14px; font-weight: bold; width: 55px; text-align: right; } 
	.imgC3 { position:absolute; top: 4px; z-index: 0; color: white; font-family: 'AurulentSansMonoRegular'; font-size: 14px; font-weight: bold; width: 55px; text-align: right; } 
	.ff { position:relative; float: right; width: 64px;}
	.ffc { position:relative; float: right; width: 64px;}
	/* End of numbered icon code */
 
	.feedHeading {
		font		: 24px ADELE; 
		height		: 26px;
		padding		:  4px;
		padding-left	: 8px;
		background	: #3d80eE;
		background	: -webkit-linear-gradient(top,#3d80ee,#1750b8);
		background	: -moz-linear-gradient(top,#3d80ee,#1750b8);
		background	: -ms-linear-gradient(top,#3d80ee,#1750b8);
		-webkit-box-shadow: inset 0px 2px 0px 0px #131313, inset 0px -3px 3px #131313;
		border-radius	: 6px; 
		text-weight	: 800;
	}
	.feedName {
		font		: 18px ADELE; 
		background		: #222;
		padding			: 3px;
		height                  : 24px;
		list-style              : none;
	}
	.feedName:nth-child(odd) {
		font		: 18px ADELE; 
		background		: #2a2a2a;
		background-repeat       : no-repeat;
		padding			: 3px;
		height			: 24px;
		list-style              : none;
	}
	.feedName:hover {
		font			: 18px ADELE; 
		background		: #333;
		padding			: 3px;
		height			: 24px;
		list-style		: none;
	}
	li.feedSubLI {
		font			: 24px ADELE; 
		background		: #222;
		margin-left		: 0px;
		width			: 275px;
		height			: 32px;
		float			: left;
		list-style              : none;
		border-radius		: 3px;
		overflow		: none;
		border			: 1px solid #1d1d1d;
		color			: white;
		vertical-align		: bottom;
		padding			: 2px;
		margin			: 2px;	
	}
	li.feedSubLI:hover {
		border			: 1px solid white;
		border-radius		: 4px;
	}
	li.feedSubLI2 {
		font			: 24px ADELE; 
		background		: #222;
		margin-left		: 0px;
		width			: 72px;
		height			: 72px;
		float			: left;
		list-style              : none;
		border-radius		: 3px;
		overflow		: none;
		color			: white;
		vertical-align		: bottom;
		padding			: 2px;
		margin			: 2px;	
	
	}
	li.feedSubLI2:hover {
		border			: 1px solid white;
		border-radius		: 4px;
	}
	img.feedSubIMG { 
		border			: 4px solid #1f1f1f;
		border-radius		: 4px;
	}
	.selectedFeed2 { 
		border			: 4px solid #3d80eE;
		border-radius		: 4px;
	}
	.selectedFeed,.selectedFeed:hover { 
		border			: 4px solid #3d80eE;
		border-radius		: 4px;
	}

	div.navBar { } 
	.leftBar {
		float: left; 
		top: 110px; 
		left: 0px; 
		z-index: 50; 
		position: fixed; 
		width: 214px; 
		display: none;
		height: 100%;
//		background-image: url("/images/leftBackground.png");
		background-repeat: repeat-y;
	}
	li.leftULCheckbox {
		font		: 20px ADELE;	
		background	: none;
		vertical-align	: middle;
		height		: 24px;
		text-shadow	: 1px 1px 0 #111;
	}
	li.leftULCheckbox:hover {
		background	: none;
		font-weight	: 900;
		color		: white;
		height		: 24px;
		text-shadow	: 1px 1px 0 #111;
	}
	li.selected {
		background	: #2d70dE;
		font-weight	: 800;
	}
	li.selected:nth-child(odd) {
		background	: #3d80eE;
		font-weight	: 800;
	}

	table.label { float: left; position: relative; top : -5px; } 
	.success {
		background-color	: #003300;
		color			: #f0f0f0;
		text-shadow		: 1px 1px 0 #111;
		font-size		: 32px;
		text-align		: center;
		vertical-align		: middle;
	}
	.failure {
		background-color	: #330000;
		color			: #f0f0f0;
		text-shadow		: 1px 1px 0 #111;
		font-size		: 32px;
		text-align		: center;
		vertical-align		: middle;
	}

	div.topWordsList {
		padding-left	: 20px; 
		float		: left;
		height		: 32px;
	}

	div.currentFooterTab {
		background-color	: #555;
		border			: solid 1px #aaa;
		border-radius		: 6px;
		padding-top		: 3px;
	}
